<%- include('includes/header') -%>

<div style="display: flex; justify-content: center;">
    <table style="width: 1500px; margin-top: 50px; border-style: solid; border-width: thin;" class="table">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Is Premium</th>
                <th>Is Admin</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><%= user.is_premium %></td>
                    <td><%= user.is_admin %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</div>

<%- include('includes/footer') -%>
